$bg-color: #f0f0f0;
$text-color: #2e2e2e;
$text-light-color: #ffffff;
$off-white-color: #f2f2f2;
$danger-color: #c52b2b;
$grey-color: #f2f2f2;
$grey-darker-color: #d9d9d9;

$primary-color: #4834df;

$btn-shadow: 1px 1px 1px 4px #cecece4f, 1px 1px 1px 1px #8a8a8a94;
$modal-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
$input-shadow: 1px 2px 4px rgba(0, 0, 0, 0.17);

$default-animation-time: 0.3s;

$margin-sizes: (
  "auto": auto,
  "0": 0rem,
  "2": 0.125rem,
  "4": 0.25rem,
  "6": 0.375rem,
  "8": 0.5rem,
  "10": 0.625rem,
  "s": 0.75rem,
  "m": 0.9375rem,
  "l": 1.25rem,
  "xl": 1.5625rem,
);
$padding-sizes: (
  "auto": auto,
  "0": 0rem,
  "2": 0.125rem,
  "4": 0.25rem,
  "6": 0.375rem,
  "8": 0.5rem,
  "10": 0.625rem,
  "s": 0.75rem,
  "m": 0.9375rem,
  "l": 1.25rem,
  "xl": 1.5625rem,
);

$btn-types-color: (
  "primary": (
    "color": $text-light-color,
    "background": $primary-color,
  ),
);
